anyio
attrs
avro
cachetools
certifi
charset-normalizer
confluent-kafka~=2.8.0
fastavro
h11
httpcore
httpx
idna
psutil
requests
#smbus
#smbus2
sniffio
typing_extensions
urllib3

Faker
python-dotenv~=1.0.1
pyspark~=3.5.4